*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0a0a0a;
color:#ffffff;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;
}

.app{
max-width:500px;
margin:auto;
padding:20px 20px 100px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

h1{
font-size:30px;
font-weight:700;
}

#todayDate{
color:#c0c0c0;
margin-top:6px;
}

#profileButton{
width:50px;
height:50px;
border:none;
border-radius:50%;
background:#c1121f;
color:white;
font-size:24px;
cursor:pointer;
}

.page{
display:none;
}

.page.active{
display:block;
}

.dashboard{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:20px;
}

.ring-card{
background:#151515;
border:1px solid #2a2a2a;
border-radius:25px;
padding:20px;
text-align:center;
}

.ring{
width:120px;
height:120px;
border:10px solid #c1121f;
border-radius:50%;
margin:auto;
display:flex;
justify-content:center;
align-items:center;
font-size:18px;
font-weight:700;
}

.ring-card p{
margin-top:15px;
font-size:16px;
}

.summary-card,
.card{
background:#151515;
border:1px solid #2a2a2a;
border-radius:25px;
padding:20px;
margin-bottom:20px;
}

.summary-card h2,
.card h2{
margin-bottom:20px;
}

.summary-card li{
list-style:none;
padding:10px 0;
border-bottom:1px solid #2a2a2a;
}

input,
select{
width:100%;
background:#222222;
color:white;
border:1px solid #333333;
border-radius:15px;
padding:15px;
margin-top:10px;
margin-bottom:15px;
font-size:16px;
}

input::placeholder{
color:#b0b0b0;
}

input[type=range]{
padding:0;
}

.primary-button{
width:100%;
background:#c1121f;
color:white;
border:none;
padding:16px;
border-radius:15px;
font-size:16px;
font-weight:700;
cursor:pointer;
}

.primary-button:active{
transform:scale(.98);
}

#foodResults{
max-height:250px;
overflow:auto;
margin-bottom:20px;
}

.food-item{
background:#222222;
padding:15px;
border-radius:15px;
margin-bottom:10px;
cursor:pointer;
border:1px solid #333333;
}

.food-item:hover{
background:#2d2d2d;
}

#historyList{
display:flex;
flex-direction:column;
gap:15px;
}

.history-item{
background:#222222;
padding:15px;
border-radius:15px;
}

.bottom-nav{
position:fixed;
left:50%;
bottom:15px;
transform:translateX(-50%);
width:95%;
max-width:480px;
background:#151515;
border:1px solid #2a2a2a;
border-radius:25px;
display:flex;
justify-content:space-around;
padding:12px;
}

.bottom-nav button{
background:transparent;
border:none;
color:white;
display:flex;
flex-direction:column;
align-items:center;
gap:5px;
cursor:pointer;
font-size:22px;
}

.bottom-nav span{
font-size:11px;
color:#d0d0d0;
}

@media(max-width:420px){

.dashboard{
grid-template-columns:1fr;
}

.ring{
width:100px;
height:100px;
font-size:16px;
}

h1{
font-size:24px;
}

}
