*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    color:#111;
    padding:20px 15px 120px;
}

.container{
    max-width:700px;
    margin:auto;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

h1{
    font-size:30px;
}

#today{
    color:#666;
    margin-top:6px;
}

#settingsBtn{
    width:56px;
    height:56px;
    border:none;
    border-radius:50%;
    background:#d71920;
    color:#fff;
    font-size:24px;
    cursor:pointer;
}

.dashboard{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:16px;
    margin-bottom:20px;
}

.statCard{
    background:#fff;
    border-radius:28px;
    padding:22px;
    text-align:center;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

.circle{
    width:125px;
    height:125px;
    margin:auto;
    border:12px solid #d71920;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;
    font-weight:700;
}

.statCard p{
    margin-top:12px;
    font-size:18px;
}

.modeSelector{
    display:flex;
    gap:12px;
    margin-bottom:20px;
}

.card{
    background:#fff;
    border-radius:28px;
    padding:22px;
    margin-bottom:20px;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

.card h2{
    margin-bottom:18px;
}

.mealGrid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
    margin-bottom:18px;
}

.mealGrid div{
    background:#fafafa;
    padding:16px;
    border-radius:14px;
    text-align:center;
}

.mealGrid p{
    font-size:22px;
    font-weight:700;
    margin-top:8px;
}

input,
select{
    width:100%;
    padding:14px;
    margin-top:10px;

    border:1px solid #ddd;
    border-radius:14px;

    font-size:16px;

    background:#fff;
}

button{
    width:100%;

    padding:14px;

    margin-top:10px;

    border:none;

    border-radius:14px;

    background:#111;

    color:#fff;

    font-size:16px;

    cursor:pointer;

    transition:.2s;
}

button:hover{
    transform:translateY(-1px);
}

.active{
    background:#d71920 !important;
}

#foodResults{
    max-height:260px;
    overflow-y:auto;
    margin-top:10px;
}

.foodItem{
    background:#fafafa;

    border:1px solid #e5e5e5;

    border-radius:14px;

    padding:14px;

    margin-bottom:10px;

    cursor:pointer;
}

.foodItem:hover{
    border-color:#d71920;
}

#foodInfo,
#exerciseCalories,
#favorites,
#history{
    margin-top:14px;

    padding:16px;

    border-radius:14px;

    background:#fafafa;
}

label{
    display:block;

    margin-top:15px;

    margin-bottom:6px;

    font-weight:600;
}

input[type="range"]{
    padding:0;
}

@media(max-width:520px){

    .dashboard{
        grid-template-columns:1fr;
    }

    .circle{
        width:110px;
        height:110px;
        font-size:18px;
    }

    h1{
        font-size:26px;
    }

    body{
        padding:15px 12px 120px;
    }
}
